<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="schedule">
            <h2><span jhiTranslate="ionApp.jmenubackSchedule.detail.title">Schedule</span> {{schedule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackSchedule.scheduleName">Schedule Name</span></dt>
                <dd>
                    <span>{{schedule.scheduleName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackSchedule.shiftStartTime">Shift Start Time</span></dt>
                <dd>
                    <span>{{schedule.shiftStartTime}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackSchedule.business">Business</span></dt>
                <dd>
                    <div *ngIf="schedule.businessId">
                        <a [routerLink]="['/business', schedule.businessId, 'view']">{{schedule.businessId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/schedule', schedule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
