<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="charge">
            <h2><span jhiTranslate="ionApp.jmenubackCharge.detail.title">Charge</span> {{charge.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackCharge.chargeAmount">Charge Amount</span></dt>
                <dd>
                    <span>{{charge.chargeAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCharge.reasonForCharge">Reason For Charge</span></dt>
                <dd>
                    <span>{{charge.reasonForCharge}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCharge.chargedTime">Charged Time</span></dt>
                <dd>
                    <span>{{charge.chargedTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/charge', charge.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
