<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="business">
            <h2><span jhiTranslate="ionApp.jmenubackBusiness.detail.title">Business</span> {{business.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.businessName">Business Name</span></dt>
                <dd>
                    <span>{{business.businessName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.businessType">Business Type</span></dt>
                <dd>
                    <span>{{business.businessType}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.description">Description</span></dt>
                <dd>
                    <span>{{business.description}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.signupDate">Signup Date</span></dt>
                <dd>
                    <span>{{business.signupDate}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.businessCellphone">Business Cellphone</span></dt>
                <dd>
                    <span>{{business.businessCellphone}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.businessPhone1">Business Phone 1</span></dt>
                <dd>
                    <span>{{business.businessPhone1}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.businessPhone2">Business Phone 2</span></dt>
                <dd>
                    <span>{{business.businessPhone2}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.businessPhone3">Business Phone 3</span></dt>
                <dd>
                    <span>{{business.businessPhone3}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.status">Status</span></dt>
                <dd>
                    <span>{{business.status}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackBusiness.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="business.employeeId">
                        <a [routerLink]="['/employee', business.employeeId, 'view']">{{business.employeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/business', business.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
