<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-employee-heading" jhiTranslate="ionApp.jmenubackEmployee.home.createOrEditLabel">Create or edit a Employee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!employee.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="employee.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="employee.firstName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="employee.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                        [(ngModel)]="employee.middleName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.dob" for="field_dob">Dob</label>
                    <input type="text" class="form-control" name="dob" id="field_dob"
                        [(ngModel)]="employee.dob" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.jobTitle" for="field_jobTitle">Job Title</label>
                    <select class="form-control" name="jobTitle" [(ngModel)]="employee.jobTitle" id="field_jobTitle" >
                        <option value="OWNER">{{'ionApp.JobType.OWNER' | translate}}</option>
                        <option value="MANAGER">{{'ionApp.JobType.MANAGER' | translate}}</option>
                        <option value="FINNANCE">{{'ionApp.JobType.FINNANCE' | translate}}</option>
                        <option value="EMPLOYEE">{{'ionApp.JobType.EMPLOYEE' | translate}}</option>
                        <option value="SUPPLIER">{{'ionApp.JobType.SUPPLIER' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="employee.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="employee.phoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.hireDate" for="field_hireDate">Hire Date</label>
                    <div class="d-flex">
                        <input id="field_hireDate" type="datetime-local" class="form-control" name="hireDate" [(ngModel)]="hireDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.salary" for="field_salary">Salary</label>
                    <input type="number" class="form-control" name="salary" id="field_salary"
                        [(ngModel)]="employee.salary" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.hourlyRate" for="field_hourlyRate">Hourly Rate</label>
                    <input type="number" class="form-control" name="hourlyRate" id="field_hourlyRate"
                        [(ngModel)]="employee.hourlyRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.tip" for="field_tip">Tip</label>
                    <input type="number" class="form-control" name="tip" id="field_tip"
                        [(ngModel)]="employee.tip" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="employee.status" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="ionApp.jmenubackEmployee.schedule" for="field_schedule">Schedule</label>
                    <select class="form-control" id="field_schedule" multiple name="schedule" [(ngModel)]="employee.schedules">
                        <option [ngValue]="getSelected(employee.schedules, scheduleOption)" *ngFor="let scheduleOption of schedules; trackBy: trackScheduleById">{{scheduleOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployee.business" for="field_business">Business</label>
                    <select class="form-control" id="field_business" name="business" [(ngModel)]="employee.businessId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="businessOption.id" *ngFor="let businessOption of businesses; trackBy: trackBusinessById">{{businessOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
