<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="ionApp.jmenubackEmployee.detail.title">Employee</span> {{employee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.firstName">First Name</span></dt>
                <dd>
                    <span>{{employee.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.lastName">Last Name</span></dt>
                <dd>
                    <span>{{employee.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{employee.middleName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.dob">Dob</span></dt>
                <dd>
                    <span>{{employee.dob}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.jobTitle">Job Title</span></dt>
                <dd>
                    <span jhiTranslate="{{'ionApp.JobType.' + employee.jobTitle}}">{{employee.jobTitle}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.email">Email</span></dt>
                <dd>
                    <span>{{employee.email}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{employee.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.hireDate">Hire Date</span></dt>
                <dd>
                    <span>{{employee.hireDate}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.salary">Salary</span></dt>
                <dd>
                    <span>{{employee.salary}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.hourlyRate">Hourly Rate</span></dt>
                <dd>
                    <span>{{employee.hourlyRate}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.tip">Tip</span></dt>
                <dd>
                    <span>{{employee.tip}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.status">Status</span></dt>
                <dd>
                    <span>{{employee.status}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.schedule">Schedule</span></dt>
                <dd>
                    <span *ngFor="let schedule of employee.schedules; let last = last">
                        <a [routerLink]="['/schedule', schedule?.id, 'view' ]">{{schedule.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployee.business">Business</span></dt>
                <dd>
                    <div *ngIf="employee.businessId">
                        <a [routerLink]="['/business', employee.businessId, 'view']">{{employee.businessId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
