<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="foodItems">
            <h2><span jhiTranslate="ionApp.jmenubackFoodItems.detail.title">Food Items</span> {{foodItems.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackFoodItems.itemName">Item Name</span></dt>
                <dd>
                    <span>{{foodItems.itemName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackFoodItems.description">Description</span></dt>
                <dd>
                    <span>{{foodItems.description}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackFoodItems.price">Price</span></dt>
                <dd>
                    <span>{{foodItems.price}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackFoodItems.calories">Calories</span></dt>
                <dd>
                    <span>{{foodItems.calories}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/food-items', foodItems.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
