<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="happyHour">
            <h2><span jhiTranslate="ionApp.jmenubackHappyHour.detail.title">Happy Hour</span> {{happyHour.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackHappyHour.newPrice">New Price</span></dt>
                <dd>
                    <span>{{happyHour.newPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackHappyHour.byCategorie">By Categorie</span></dt>
                <dd>
                    <span>{{happyHour.byCategorie}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/happy-hour', happyHour.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
