<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-print-heading" jhiTranslate="ionApp.jmenubackPrint.home.createOrEditLabel">Create or edit a Print</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!print.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="print.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackPrint.orderID" for="field_orderID">Order ID</label>
                    <input type="number" class="form-control" name="orderID" id="field_orderID"
                        [(ngModel)]="print.orderID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackPrint.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                        [(ngModel)]="print.total" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackPrint.printedTime" for="field_printedTime">Printed Time</label>
                    <div class="d-flex">
                        <input id="field_printedTime" type="datetime-local" class="form-control" name="printedTime" [(ngModel)]="printedTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
