<div>
    <h2 id="page-heading">
        <span jhiTranslate="ionApp.jmenubackOrders.home.title">Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders" [routerLink]="['/orders/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ionApp.jmenubackOrders.home.createLabel">
            Create new Orders
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ionApp.jmenubackOrders.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderID"><span jhiTranslate="ionApp.jmenubackOrders.orderID">Order ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderName"><span jhiTranslate="ionApp.jmenubackOrders.orderName">Order Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="placedTime"><span jhiTranslate="ionApp.jmenubackOrders.placedTime">Placed Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="closedTime"><span jhiTranslate="ionApp.jmenubackOrders.closedTime">Closed Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalClosed"><span jhiTranslate="ionApp.jmenubackOrders.totalClosed">Total Closed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderStatus"><span jhiTranslate="ionApp.jmenubackOrders.orderStatus">Order Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeId"><span jhiTranslate="ionApp.jmenubackOrders.employee">Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let orders of orders ;trackBy: trackId">
                <td><a [routerLink]="['/orders', orders.id, 'view' ]">{{orders.id}}</a></td>
                <td>{{orders.orderID}}</td>
                <td>{{orders.orderName}}</td>
                <td>{{orders.placedTime | date:'medium'}}</td>
                <td>{{orders.closedTime | date:'medium'}}</td>
                <td>{{orders.totalClosed}}</td>
                <td jhiTranslate="{{'ionApp.Status.' + orders.orderStatus}}">{{orders.orderStatus}}</td>
                <td>
                    <div *ngIf="orders.employeeId">
                        <a [routerLink]="['../employee', orders.employeeId , 'view' ]" >{{orders.employeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/orders', orders.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orders', orders.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'orders', { outlets: { popup: orders.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
