<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orders">
            <h2><span jhiTranslate="ionApp.jmenubackOrders.detail.title">Orders</span> {{orders.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackOrders.orderID">Order ID</span></dt>
                <dd>
                    <span>{{orders.orderID}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackOrders.orderName">Order Name</span></dt>
                <dd>
                    <span>{{orders.orderName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackOrders.placedTime">Placed Time</span></dt>
                <dd>
                    <span>{{orders.placedTime}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackOrders.closedTime">Closed Time</span></dt>
                <dd>
                    <span>{{orders.closedTime}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackOrders.totalClosed">Total Closed</span></dt>
                <dd>
                    <span>{{orders.totalClosed}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackOrders.orderStatus">Order Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'ionApp.Status.' + orders.orderStatus}}">{{orders.orderStatus}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackOrders.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="orders.employeeId">
                        <a [routerLink]="['/employee', orders.employeeId, 'view']">{{orders.employeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orders', orders.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
