<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span jhiTranslate="ionApp.jmenubackLocation.detail.title">Location</span> {{location.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackLocation.address1">Address 1</span></dt>
                <dd>
                    <span>{{location.address1}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackLocation.address2">Address 2</span></dt>
                <dd>
                    <span>{{location.address2}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackLocation.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{location.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackLocation.city">City</span></dt>
                <dd>
                    <span>{{location.city}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackLocation.stateProvince">State Province</span></dt>
                <dd>
                    <span>{{location.stateProvince}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackLocation.country">Country</span></dt>
                <dd>
                    <span>{{location.country}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackLocation.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="location.employeeId">
                        <a [routerLink]="['/employee', location.employeeId, 'view']">{{location.employeeId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackLocation.business">Business</span></dt>
                <dd>
                    <div *ngIf="location.businessId">
                        <a [routerLink]="['/business', location.businessId, 'view']">{{location.businessId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
