<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employeeComment">
            <h2><span jhiTranslate="ionApp.jmenubackEmployeeComment.detail.title">Employee Comment</span> {{employeeComment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackEmployeeComment.commentType">Comment Type</span></dt>
                <dd>
                    <span>{{employeeComment.commentType}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployeeComment.description">Description</span></dt>
                <dd>
                    <span>{{employeeComment.description}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackEmployeeComment.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="employeeComment.employeeId">
                        <a [routerLink]="['/employee', employeeComment.employeeId, 'view']">{{employeeComment.employeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee-comment', employeeComment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
