<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="menuTypes">
            <h2><span jhiTranslate="ionApp.jmenubackMenuTypes.detail.title">Menu Types</span> {{menuTypes.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackMenuTypes.menuTypeName">Menu Type Name</span></dt>
                <dd>
                    <span>{{menuTypes.menuTypeName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackMenuTypes.description">Description</span></dt>
                <dd>
                    <span>{{menuTypes.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu-types', menuTypes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
