<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-schedule-heading" jhiTranslate="ionApp.jmenubackSchedule.home.createOrEditLabel">Create or edit a Schedule</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!schedule.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="schedule.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackSchedule.scheduleName" for="field_scheduleName">Schedule Name</label>
                    <input type="text" class="form-control" name="scheduleName" id="field_scheduleName"
                        [(ngModel)]="schedule.scheduleName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackSchedule.shiftStartTime" for="field_shiftStartTime">Shift Start Time</label>
                    <div class="d-flex">
                        <input id="field_shiftStartTime" type="datetime-local" class="form-control" name="shiftStartTime" [(ngModel)]="shiftStartTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackSchedule.business" for="field_business">Business</label>
                    <select class="form-control" id="field_business" name="business" [(ngModel)]="schedule.businessId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="businessOption.id" *ngFor="let businessOption of businesses; trackBy: trackBusinessById">{{businessOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
