<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ingredients">
            <h2><span jhiTranslate="ionApp.jmenubackIngredients.detail.title">Ingredients</span> {{ingredients.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackIngredients.ingredientName">Ingredient Name</span></dt>
                <dd>
                    <span>{{ingredients.ingredientName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ingredients', ingredients.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
