<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-employee-comment-heading" jhiTranslate="ionApp.jmenubackEmployeeComment.home.createOrEditLabel">Create or edit a Employee Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!employeeComment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="employeeComment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployeeComment.commentType" for="field_commentType">Comment Type</label>
                    <input type="text" class="form-control" name="commentType" id="field_commentType"
                        [(ngModel)]="employeeComment.commentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployeeComment.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="employeeComment.description" ></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackEmployeeComment.employee" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" [(ngModel)]="employeeComment.employeeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
