<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="membership">
            <h2><span jhiTranslate="ionApp.jmenubackMembership.detail.title">Membership</span> {{membership.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackMembership.membershipName">Membership Name</span></dt>
                <dd>
                    <span>{{membership.membershipName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackMembership.membershipType">Membership Type</span></dt>
                <dd>
                    <span>{{membership.membershipType}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackMembership.subscriptionRate">Subscription Rate</span></dt>
                <dd>
                    <span>{{membership.subscriptionRate}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackMembership.subscriptionAmount">Subscription Amount</span></dt>
                <dd>
                    <span>{{membership.subscriptionAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackMembership.description">Description</span></dt>
                <dd>
                    <span>{{membership.description}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackMembership.business">Business</span></dt>
                <dd>
                    <div *ngIf="membership.businessId">
                        <a [routerLink]="['/business', membership.businessId, 'view']">{{membership.businessId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/membership', membership.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
