<div>
    <h2 id="page-heading">
        <span jhiTranslate="ionApp.jmenubackMembership.home.title">Memberships</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-membership" [routerLink]="['/membership/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ionApp.jmenubackMembership.home.createLabel">
            Create new Membership
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ionApp.jmenubackMembership.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="memberships">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="membershipName"><span jhiTranslate="ionApp.jmenubackMembership.membershipName">Membership Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="membershipType"><span jhiTranslate="ionApp.jmenubackMembership.membershipType">Membership Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subscriptionRate"><span jhiTranslate="ionApp.jmenubackMembership.subscriptionRate">Subscription Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subscriptionAmount"><span jhiTranslate="ionApp.jmenubackMembership.subscriptionAmount">Subscription Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="ionApp.jmenubackMembership.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="businessId"><span jhiTranslate="ionApp.jmenubackMembership.business">Business</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let membership of memberships ;trackBy: trackId">
                <td><a [routerLink]="['/membership', membership.id, 'view' ]">{{membership.id}}</a></td>
                <td>{{membership.membershipName}}</td>
                <td>{{membership.membershipType}}</td>
                <td>{{membership.subscriptionRate}}</td>
                <td>{{membership.subscriptionAmount}}</td>
                <td>{{membership.description}}</td>
                <td>
                    <div *ngIf="membership.businessId">
                        <a [routerLink]="['../business', membership.businessId , 'view' ]" >{{membership.businessId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/membership', membership.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/membership', membership.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'membership', { outlets: { popup: membership.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
