<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customers">
            <h2><span jhiTranslate="ionApp.jmenubackCustomers.detail.title">Customers</span> {{customers.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.firstName">First Name</span></dt>
                <dd>
                    <span>{{customers.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.lastName">Last Name</span></dt>
                <dd>
                    <span>{{customers.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{customers.middleName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.dob">Dob</span></dt>
                <dd>
                    <span>{{customers.dob}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.email">Email</span></dt>
                <dd>
                    <span>{{customers.email}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.cellNumber">Cell Number</span></dt>
                <dd>
                    <span>{{customers.cellNumber}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.businessPhone">Business Phone</span></dt>
                <dd>
                    <span>{{customers.businessPhone}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.signupDate">Signup Date</span></dt>
                <dd>
                    <span>{{customers.signupDate}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.membershipType">Membership Type</span></dt>
                <dd>
                    <span>{{customers.membershipType}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.tip">Tip</span></dt>
                <dd>
                    <span>{{customers.tip}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.jobTitle">Job Title</span></dt>
                <dd>
                    <span jhiTranslate="{{'ionApp.JobType.' + customers.jobTitle}}">{{customers.jobTitle}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackCustomers.status">Status</span></dt>
                <dd>
                    <span>{{customers.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customers', customers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
