<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-timesheet-heading" jhiTranslate="ionApp.jmenubackTimesheet.home.createOrEditLabel">Create or edit a Timesheet</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!timesheet.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="timesheet.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackTimesheet.dateTime" for="field_dateTime">Date Time</label>
                    <div class="d-flex">
                        <input id="field_dateTime" type="datetime-local" class="form-control" name="dateTime" [(ngModel)]="dateTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackTimesheet.punchInTime" for="field_punchInTime">Punch In Time</label>
                    <div class="d-flex">
                        <input id="field_punchInTime" type="datetime-local" class="form-control" name="punchInTime" [(ngModel)]="punchInTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackTimesheet.punchOutTime" for="field_punchOutTime">Punch Out Time</label>
                    <div class="d-flex">
                        <input id="field_punchOutTime" type="datetime-local" class="form-control" name="punchOutTime" [(ngModel)]="punchOutTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackTimesheet.breakTimeOut" for="field_breakTimeOut">Break Time Out</label>
                    <div class="d-flex">
                        <input id="field_breakTimeOut" type="datetime-local" class="form-control" name="breakTimeOut" [(ngModel)]="breakTimeOut" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackTimesheet.breakTimeIn" for="field_breakTimeIn">Break Time In</label>
                    <div class="d-flex">
                        <input id="field_breakTimeIn" type="datetime-local" class="form-control" name="breakTimeIn" [(ngModel)]="breakTimeIn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackTimesheet.employee" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" [(ngModel)]="timesheet.employeeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ionApp.jmenubackTimesheet.business" for="field_business">Business</label>
                    <select class="form-control" id="field_business" name="business" [(ngModel)]="timesheet.businessId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="businessOption.id" *ngFor="let businessOption of businesses; trackBy: trackBusinessById">{{businessOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
