<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tables">
            <h2><span jhiTranslate="ionApp.jmenubackTables.detail.title">Tables</span> {{tables.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ionApp.jmenubackTables.tableName">Table Name</span></dt>
                <dd>
                    <span>{{tables.tableName}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackTables.tableNumber">Table Number</span></dt>
                <dd>
                    <span>{{tables.tableNumber}}</span>
                </dd>
                <dt><span jhiTranslate="ionApp.jmenubackTables.description">Description</span></dt>
                <dd>
                    <span>{{tables.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tables', tables.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
